<!DOCTYPE html>
<html>
<head>
  <title data-i18n="extensionName">Select Servers</title>
  <link rel="stylesheet" type="text/css" href="../styles/popup.css">
</head>
<body>
  <div id="description" data-i18n="descriptionText">
    Select the servers from the list below:
  </div>
  <textarea id="serverNames" data-i18n="textareaPlaceholder" placeholder="Enter server names here..."></textarea>
  <button id="submit" data-i18n="selectServersButton">Select Servers</button>
  <button id="clear" data-i18n="clearButton">Clear</button>
  <script src="../scripts/popup.js"></script>
</body>
</html>
