<!DOCTYPE html>
<html>
<head>
  <title data-i18n="extensionName">Select Servers</title>
  <link rel="stylesheet" type="text/css" href="../styles/popup.css">
</head>
<body>
  <div id="buttonsContainer"></div>
  <div id="controlPanel" style="display: none;">
    <div id="description" data-i18n="descriptionText">
      Select the servers from the list below:
    </div>
    <textarea id="serverNames" data-i18n="textareaPlaceholder" placeholder=""></textarea>
    <button id="submit" data-i18n="selectServersButton">Select Servers</button>
    <button id="clear" data-i18n="clearButton">Clear</button>
  </div>
  <script src="../scripts/popup.js"></script>
</body>
</html>